body{
    background-color: black;
}
.container{
    border: 3px solid white;
    height: 500px; 
    width: 500px;
    margin: 50px auto;  
    /* top: 100px;  */
    margin-bottom: 0px; 
}
.container img {
    width: 100%; 
    height: 100%; 
}
p{
    color: white;
    text-align: center;
    /* width: 550px;  */
    /* margin-top: 1rem; */
}
.congrats-text{
    /* border: 2px solid green; */
    font-size: 1.9rem; 
    font-weight: bolder;
}
.msg-text {
    font-size: 1.5rem; 
}
